body{
  width:100%;
  background-color:grey;
  margin:0;
  padding:0;
    width: fit-content;
}
div 
{
  width: fit-content;
  background:grey;
}



@media(min-width: 1200px){
  .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
  float:left;
}
.imp{
  background-color: #00CED1;
  background-width: 100%;
}
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;
  background-color: #00CED1;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;
  background-color: #00CED1;}
.dropbtn {  
  background-color: #3498DB;
  color: black;
  padding: 16px;/*this one*/
  width: 300%;
  font-size: 100%;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:#00CED1;
}

.dropdown {
  position: absolute;
  left: 80.7%;/*60.7*/
  top: .1%;
  display: inline-block;
}

.dropdown-content {

  display: none;
  position: absolute;
  background-color: #00CED1;
  min-width: 100%;
  min-height: 68%;
  overflow: auto;
  box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 20px 16px;
  text-decoration: all;
  display: block;
}






.show {display: block;}
a:visited{background-color:blue;} 


.dropbtn1 {

  color: black;
  padding: 16px;
  width: 150%;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn1:hover, .dropbtn1:focus {
  background-color:#3498DB;/*information ke upar ka color*/
 
}

.dropdown1{
  position: absolute;
  left: 40.3%;
  top: .1%;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color:#00CED1;/*acivement ke neche ka color*/
  min-width: 100%;
  min-height: 68%;
  /*overflow:auto;*/
  box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 15px 16px;
  text-decoration: all;
  display: block;
}

.dropdown1 a:hover {background-color:grey;}/*achievement ke upar ka color*/

.show1 {display: block;}


a{
  color:balck;
  font-size: 28x;
  font-family:verdana;

}


h1{color:black;
  font-size: 300%;
  height: 500px;

   
   }
.tab {
 margin-left: 12.5%;

}


.ontainer{
  width: 100%;
  height:223px;
  background:grey;
}
.ontainer2{
  width: 100%;
  height: 160px;
  background:grey;

}


.container{
  width: 100%;
  height: 1000px;
  background-color:#00CED1;
  margin:0;
  padding:0;

}

}

@media(max-width: 1199px){
  .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
  float:left;
}

.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;
background-color: #00CED1}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;
background-color: #00CED1}

.dropbtn1 {

  color: black;
  padding: 16px;
  width: 150%;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn1:hover, .dropbtn1:focus {
  background-color:#3498DB;/*information ke upar ka color*/
 
}

.dropdown1{
  /*position: absolute;*/
  left: 40.3%;
  top: .1%;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color:#00CED1;/*acivement ke neche ka color*/
  min-width: 100%;
  min-height: 68%;
  /*overflow:auto;*/
  box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 15px 16px;
  text-decoration: all;
  display: block;
}

.dropdown1 a:hover {background-color:grey;}/*achievement ke upar ka color*/

.show1 {display: block;}



.dropbtn {  
  background-color: #3498DB;
  color: black;
  padding: 16px;/*this one*/
  width: 300%;
  font-size: 100%;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:#00CED1;
}

.dropdown {
  /*position: absolute;*/
  left: 20.7%;/*60.7*/
  top: .1%;
  display: inline-block;
}

.dropdown-content {

  display: none;
  position: absolute;
  background-color: #00CED1;
  min-width: 30%;
  min-height: 30%;
  overflow: auto;
  box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 20px 16px;
  text-decoration: all;
  display: block;
}






.show {display: block;}
a:visited{background-color:blue;} 



a{
  color:balck;
  font-size: 28x;
  font-family:verdana;
  

  

}


h1{color:black;
  font-size: 300%;
  height: 500px;

   
   }
.tab {
 margin-left: 12.5%;

}


.ontainer{
  width: 100%;
  height:223px;
  background:grey;
}
.ontainer2{
  width: 100%;
  height: 160px;
  background:grey;

}


.container{
  width: 100%;
  height: 1000px;
  background-color:#00CED1;
  margin:0;
  padding:0;

}

}


