body{
    background-color:#ff0066 ;
    color:white;
    font-family: montserrat;
}

  
@media screen and (max-width: 764px) {
    .card{
        background-color:white;
         height:fit-content; 
         width: 90%; 
         margin-left:5%; 
         margin-top:70px; 
         color: black
    } 
    .leftmargin{
        margin-left:3%;
    }
    .leftmarginp{
        margin-left:2%;
    }
    .topfb{
      margin-left: 26%;
    }
    .imgheight{
      height:fit-content;
    }


}
@media screen and (min-width: 767px) {
    .card{
        background-color:white;
         height:110%; 
         width: 80%; 
         margin-left:10%; 
         margin-top:70px; 
         color: black
    } 
    .leftmargin{
        margin-left:4%;
    }
    .leftmarginp{
        margin-left:16%;
    }
    .topmarginp{
        margin-top:4.7%;
    }
    .topmargimp{
        margin-top:10%;
    }
    .topfb{
      margin-left: 41%;
    }
    .imgheight{
      height:fit-content;
    }



}
@media screen and (min-width: 989px) {
    .rightmarginnav{
        margin-right: 50px;

    }


}
@media screen and (max-width: 988px){
  .marginbottomnav{
    margin-bottom: 3%;
}
.marginbottomna{
  margin-bottom: 2%;
}
.marginbottomn{
  margin-bottom: 4.5%;
}


}


.fadeinimg {

    animation: fadein 2s;
    
    }
    
    @keyframes fadein {
    
    from { opacity: 0;
    }
    
     to {
    
    opacity: 1;
    }
    }
    .container {
      position: relative;
      width: 100%;
    }
    
    /* Make the image responsive */
    .container img {
      width: 100%;
      height: 500px;
    }

    @media only screen and (max-width: 450px) {
  .btn {
    position: absolute;
    top: 50%;
    left: 91%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
  }
  
  .btn:hover {
    background-color:black;
  }

}
@media only screen and (min-width:451px) {
  .btn {
    position: absolute;
    top: 55%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color:#ff0066 ;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
  }
  
  .btn:hover {
    background-color:black;
    color:#ff0066;
  }
}
.buttonbelowpics{
    background-color:#ff0066;
    color:white;
    margin-top:2%;
    margin-bottom: 2%;
    border-radius:15px;
    font-size:x-large;
}
.buttonbelowpics:hover{
    background-color:black;
    color:white;
    padding:5px;
    font-size:larger;
}

